.block-header {
    padding: 12px 15px 10px;
    min-height: 40px;
    border-top: 2px solid #ece7ea;
    background-color: #fff;
    color : #6c676a;
}

.block-content {
    border-top: 1px solid #ece7ea;
    background-color: #fff;
    padding: 15px;
}


.main {
    font-weight: 500;
  
}

.color-gray
{
    color: #6c676a;
}

@media(max-width: 768px) 
{
.label-text {
    text-align: left;
  }
}

@media(min-width: 768px) 
{
.label-text {
    text-align: right;
  }
}