<div class="filter">
  <div (clickOutside)="clickedOutside()">
    <mat-button-toggle
      class="btn-filter form-control"
      (click)="toogleFilter()"
      [ngClass]="filterOpened ? 'btn-filter-open' : 'btn-filter'"
      >filter</mat-button-toggle
    >
    <mat-card class="filter-card" *ngIf="filterOpened">
        <mat-expansion-panel
          class="expansion-filter mat-elevation-z0"
          [expanded]="true"
          *ngFor="let filterData of radioFilterModel"
        >
          <mat-expansion-panel-header>
            {{ filterData.name }}
          </mat-expansion-panel-header>
          <mat-radio-group
          [(ngModel)]="filterData.value">
            <mat-radio-button
              *ngFor="let radioData of filterData.optionName"
              class="filter-checkbox"
              (change)="onRadioChange($event, filterData.jsonName, filterData.groupId)" 
              [value]="radioData.value"
              
              >{{ radioData.name }}</mat-radio-button
            >
          </mat-radio-group>
          <!-- checkbox -->
          <!-- <mat-checkbox
            *ngFor="let checkBoxData of filterData.optionName"
            class="filter-checkbox"
            (change)="onCheckboxChange($event, filterData.value, checkBoxData.id)" 
            [value]="checkBoxData.value"
            [(ngModel)]="checkBoxData.checked"
            >{{ checkBoxData.name }}</mat-checkbox
          > -->
        </mat-expansion-panel>

        <mat-action-row>
          <button mat-button color="warn" (click)="resetFilter()">
            Atur Ulang
          </button>
          <button mat-button color="primary" (click)="useFilter()" >Pakai</button>
        </mat-action-row>
    </mat-card>
  </div>
  <div class="client-search">
    <div class="client-search-select">
      <select
        [(ngModel)]="searchInfo.category"
        class="form-select form-control form-select-lg"
        aria-label=".form-select-lg example"
        (change)="onChanges()"
      >
        <option value="Nama" selected>Nama</option>
        <option value="ClientID">ClientID</option>
        <option value="Email">Email</option>
      </select>
    </div>
    <div class="client-search-input">
      <input
        [(ngModel)]="searchInfo.value"
        type="search"
        (search)="search()"
        class="form-control"
        [placeholder]="placeholder"
        aria-label="Username"
        aria-describedby="basic-addon1"
      />
    </div>
  </div>
</div>

<!-- <input type="text" class="form-control" (keydown.enter)="searchText(data.search.value, i)" placeholder="Cari..." [(ngModel)]="data.search.value"> -->
