<div class="row  mb-4">
    <label class="col-md-3 label-text">
        <span class="main">Dokumen {{index+1}}</span>
    </label>
    <div class="col-md-6">
        <button type="button" class="btn btn-primary btn-sm" (click)="emitEvent()"><i class="fas fa-eye"></i> Preview</button>
        <!-- <div class="row px-3" *ngIf="!RBAchecked">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" disabled>
                <label class="form-check-label">RBA</label>
            </div>
        </div> -->
        <div  *ngFor="let dokumen of dokumenList" >
            <div class="row px-3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" checked disabled>
                    <label class="form-check-label">{{dokumen}}</label>
                </div>
            </div>
        </div>
        <br>
        <b>Tanggal Upload: </b> {{dokumenModifiedDate}}
        <hr class = "hr-dashed">
    </div>
</div>