@media(max-width: 768px) 
{
.label-text {
    text-align: left;
  }
}

@media(min-width: 768px) 
{
.label-text {
    text-align: right;
  }
}

.main {
  font-weight: 700;
}

.nav-custom:hover
{
    cursor: pointer;
    background-color: rgb(236, 236, 236);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.clickable:hover {
  color: #00b7f1;
  cursor: pointer;
}

.clickable
{
  color: #6C676A;
}