.note
{
    margin-top: 5px;
    font-size: 11.7px;
}

.main {
    font-weight: 500;
}
@media(max-width: 768px)
{
.label-text {
    text-align: left;
  }
}

@media(min-width: 768px)
{
.label-text {
    text-align: right;
  }
}

/*.mat-radio-button ~ .mat-radio-button {*/
/*    margin-left: 0px;*/
/*    margin-left: 15px;*/
/*  }*/

.mat-radio-group {
  display: flex; flex-direction: column;
}
